<?php

$db_type = "db type placeholder";
$servername = "127.0.0.1";
$db = "db placeholder";

$loggerVersion = "version placeholder";

$monitorEnabled = true;
$monitorURL = "monitor placeholder";
$monitorTimeout = 1;

?>
